.primary_btn {
  padding: 18px 10px;
  background: black;
  color: white;
  min-width: 220px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.outline_btn {
  padding: 18px 10px;
  background: transparent;
  color: black;
  border-radius: 1px solid black;
  min-width: 220px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}